<h1>Listing participations</h1>

<table>
  <tr>
    <th>Artist</th>
    <th>Duration</th>
  </tr>

<% for participation in @participations %>
  <tr>
    <td><%=h participation.artist %></td>
    <td><%= link_to_name participation.duration %></td>
    <td><%= link_to 'Show', participation %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New participation', new_participation_path %>
