<p>
  <%= link_to_name @participation.artist %>
</p>

<p>
  <%=h @participation.duration.name %>
</p>


<%= link_to 'Edit', edit_participation_path(@participation) %> |
<%= link_to 'Back', participations_path %>
