<p>
  <%= link_to_name @element.specification %>
</p>

<p>
  <b>Configuration:</b>
  <%= link_to_name @element.configuration %>
</p>


<%= link_to 'Edit', edit_element_path(@element) %> |
<%= link_to 'Back', elements_path %>
