<h1>Listing configurations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>User</th>
  </tr>

<% for configuration in @configurations %>
  <tr>
    <td><%= link_to_name configuration %></td>
    <td><%= link_to_name configuration.user %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New configuration', new_configuration_path %>
