<h1>inputs</h1>

<table>
  <tr>
    <th>Host</th>
    <th>Description</th>
  </tr>

<% for input in @inputs %>
  <tr>
    <td><%= link_to_name input.host %></td>
    <td><%= link_to input.description, input %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New input', new_input_path %>
