<p>
  <b>Host:</b>
  <%= link_to_name @input.host %>
</p>

<p>
  <b>Description:</b>
  <%=h @input.description %>
</p>

<%= link_to 'Edit', edit_input_path(@input) %> |
<%= link_to 'Back', inputs_path %>
