<p>
  <%= link_to_name @excerpt.context %>
</p>

<p>
  <b>Description:</b>
  <%=h @excerpt.description %>
</p>

<%= link_to 'Edit', edit_excerpt_path(@excerpt) %> |
<%= link_to 'Back', excerpts_path %>
