<h1>Listing effects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Brand</th>
    <th>User</th>
  </tr>

<% for effect in @effects %>
  <tr>
    <td><%= link_to_name effect %></td>
    <td><%= link_to_name effect.brand %></td>
    <td><%= link_to_name effect.user %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New effect', new_effect_path %>
