<p>
  <b>Configuration:</b>
  <%= link_to_name @sound.configuration %>
</p>

<p>
  <b>Example:</b>
  <%= link_to_name @sound.example %>
</p>


<%= link_to 'Edit', edit_sound_path(@sound) %> |
<%= link_to 'Back', sounds_path %>
