<h1>List of brands</h1>

<table>

<% for brand in @brands %>
  <tr>
    <td><%=h brand.name %></td>
    <td><%=h brand.homepage %></td>
    <td><%= link_to 'Show', brand %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New brand', new_brand_path %>
