<h1>Listing outputs</h1>

<table>
  <tr>
    <th>Host</th>
    <th>Description</th>
  </tr>

<% for output in @outputs %>
  <tr>
    <td><%= link_to_name output.host %></td>
    <td><%=h output.description %></td>
    <td><%= link_to 'Show', output %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New output', new_output_path %>
