<h1>Listing instruments</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Brand</th>
  </tr>

<% for instrument in @instruments %>
  <tr>
    <td><%= link_to_name instrument %></td>
    <td><%= link_to_name instrument.brand %></td>
    <td><%= edit_link instrument %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New instrument', new_instrument_path %>
