<h1>Listing images</h1>

<table>

<% for image in @images %>
  <tr>
    <td><%=h image.name %></td>
    <td><%= link_to_name image.user %></td>
    <td><%= link_to 'Show', image %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New image', new_image_path %>
